<h1>New Game</h1>

<%= form_for :game, url: games_path do |f| %>
<p>
 <%= f.select :boardgame_id, options_from_collection_for_select(@boardgames, 'id', 'title'), {prompt: true}, {required: true}  %>
  </p>
  <p>
    
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>
  <%= f.submit :submit %>
<% end %> 
