<p>
<strong>Title:</strong>
<%= @game.title %>
</p>

<p>
<strong>Time:</strong>
<%= @game.time %>
</p>

<p>
<strong>Players</strong>
<% @game.players.each do |player|%>
  <%= player.user.email + "," %>
  <% end %>
</p>

<%= form_for :game, url: game_path(@game), method: :patch do |f| %>
<%= f.submit 'Add me' %>
<% end %>

